p{
    background-color:red;
    width: 100px;
    display: inline-block;
  }
  span{
    background-color:yellow;
    width:100px;
    display:block;
  }
  #ddd{
    margin-top:10px;
  }
  
  #hide{
    display:inline;
    display:none;
  }